<p>dynamic-dashboard works!</p>
<form [formGroup]="myFormGroup" (ngSubmit)="onSubmit()">
    <div *ngFor="let form_elem of formTemplate">
    <div [ngSwitch]="form_elem.fielddatatype">
      <div *ngSwitchCase="'VARCHAR'">
        <input type="text" formControlName="{{form_elem.fieldid}}" placeholder="{{form_elem.fielddiscription}}"/>
      </div>
      <div *ngSwitchCase="'NUMBER'">
        <input type="number" formControlName="{{form_elem.fieldid}}"/>
      </div>
      <div *ngSwitchCase="'select'">
        <select formControlName="{{form_elem.fieldid}}">
          <option *ngFor="let opt of form_elem.options">
            {{opt}}
          </option>
        </select>
      </div>
    </div>  
    </div>
    <input type="submit" value="save"/>

    <div *ngIf="payLoad" class="form-row">
        <strong>Saved the following values</strong><br>{{payLoad}}
      </div>
  </form>